*, 
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: #10161B;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

input:focus,
button:focus {
  outline: none;
}

header {
  background-image: url('./imgs/wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  position: relative;
}

header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .4);
}

header * {
  z-index: 1;
}

header h1 {
  margin: 0 0 30px;

  @media(max-width: 500px){
    font-size: 1.5rem;
  }
}

form {
  position: relative;
  width: 500px;
  max-width: 100%;

  @media(max-width: 500px){
    left: 50px;
  }
}

form input {
  background: transparent;
  color: whitesmoke;
  border: .5px solid whitesmoke;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;

  @media(max-width: 500px){
    width: 80%;
    padding: 10px 20px;
  }
}

form button {
  position: absolute;
  top: 2px;
  right: 2px;
  background: transparent;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 13px 30px;
  cursor: pointer;
  transition: .5s;

  @media(max-width: 500px){
    top: 0;
    left: 45%;
  }
}

form button:hover{
  background-color: whitesmoke;
  color: black;

  @media(max-width: 500px){
    background: transparent;
    color: whitesmoke;
  }
}

form button:active{
  transform: scale(.9);
}

.songs-container {
  list-style-type: none;
  padding: 0;
  margin: 0 8vw;
  max-width: 100%;
  width: 80%;
  background-color: #10161B;

  @media(max-width: 800px){
    margin: auto;
    width: 70%;
  }
}

.popup{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  border: 1px solid;
  padding: 5px;
  text-align: center;
}

.song{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 1.2rem;
  transition: .5s;

  @media(max-width: 500px){
    font-size: .9rem;
  }
}

.song:hover{
  background-color: #131517;
  border-radius: 10px;
}

.song div{
  display: flex;
  align-items: center;
  gap: 10vw;

  @media(max-width: 800px){
    gap: 5px;
  }
}

.song a{
  text-decoration: none;
  color: black;
  transition: .5s;
}

.song:hover, .song a:hover{
  cursor: pointer;
  transform: scale(1.1);
  color: white;  
}

.songs-container h1{
  position: relative;
  left: 40%;
  color: whitesmoke; 
  margin: 40px;

  @media(max-width: 800px){
    margin: 40px 0 40px;
  }

  @media(max-width: 500px){
    font-size: 1.5rem;
  }
}

.cover-image{
  border-radius: 10px;
  box-shadow: 0 0 10px goldenrod;

  @media(max-width: 800px){
    width: 50%;
  }
}

.songs-container h3{
  color: whitesmoke;
  margin: 20px 0;
  font-size: 2rem;

  @media(max-width: 800px){
    font-size: 1.5rem;
  }
}

.track-list{
  color: whitesmoke;
  margin: 10px;
}

.artist-logo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#myAudio{
  width: 300px;
  height: 25px;
}

.prev-and-next-container h2 {
  font-weight: 300;
}

.prev-and-next-container {
  display: flex;
  justify-content: center;
}

.prev-and-next-container button {
  transform: scale(1.3);
  margin: 15px;
}

.btn{
  background: transparent;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 5px;
  color: whitesmoke;
  cursor: pointer;
  transition: .5s;
}

.btn:hover{
  background-color: whitesmoke;
  color: black;
}

.warning-message {
  color: #EA2234;
  text-align: center;
}

.song-artist {
  color: white;
  opacity: .4;
  max-width: 400px;
}

.lyrics-container {
  color: white;
  opacity: .4;
}

.lyrics {
  margin-top: 20px;
  line-height: 1.5;
}